.m1t{
	color: #662d91;
}
.m1f{
	background-color: #662d91;
}
.m2t{
	color: #996bac;
}
.m2f{
	background-color: #996bac;
}
.m3t{
	color: #d8aadc;
}
.m3f{
	background-color: #d8aadc;
}
.m4t{
	color: #4f1654;
}
.m4f{
	background-color: #4f1654;
}
.m5t{
	color: #dcbe20;
}
.m5f{
	background-color: #dcbe20;
}
.m6f{
	background-color: #E4F1FE;
}
